.FirstMiddleContainer {
    color: rgba(255, 255, 255, 1);
    background-color: #0E204C;
    padding: 0px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.FirstMiddleContainer .card p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18.48px;
}

.readButton {
    display: flex;
    gap: 13px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
}

@media (min-width:576px) and (max-width:768px) {
    .FirstMiddleContainer {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .card-img {
        width: 100%;
    }
    
}


@media screen and (min-width:769px) {
    .FirstMiddleContainer {
        color: #fff;
        background-color: #0E204C;
        padding: 3rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

}