footer {
    color: #fff;
    background-color: #0E204C;
    display: flex;
    flex-direction: column;
}

.logoTextContainer {
    display: flex;
    gap: 10px;
}

.insideContainer {
    display: flex;
    gap: 30px;
    align-items: center;
}

.anotherInside {
    display: flex;
    gap: 30px;
    align-items: center;
}

footer .firstContainer {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.MiddleContainer {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 20px;
    gap: 50px;
}

.firstList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
}

.SecondList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 2rem;
}

.lastContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px 40px 20px;
}

.LastList {
    display: flex;
    gap: 3rem;
}

.AllIcons {
    display: flex;
    gap: 8px;
}

.logo {
    padding: 0.5rem 0.6rem;
    background-color: rgb(38,54,94);
    border-radius: 8px;
}

.BreakLine {
    margin: 0 -15px;
    border: 2px solid rgb(38,54,94);
}

.firstContainer  span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.LogoContainer h3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.firstList p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
    color: rgba(255, 255, 255, 1);
}

.SecondList li span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.lastContainer span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.lastContainer p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
    color: rgba(255, 255, 255, 1);
}

.LastList span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.07px;
}

.firstContainer img {
    display: none;
}

.logoTextContainer {
    display: none;
}

.anotherInside select {
    color: #fff;
    background-color: #0E204C;
    border: none;
}

@media (min-width:576px) and (max-width:768px) {

    .firstList li.LogoContainer {
        display: none;
    }
    .MiddleContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 40px 20px 40px 20px;
        gap: 50px;
    }

    .SecondList {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .firstContainer img {
        display: flex;
    }

    .insideContainer {
        justify-content: space-between;
        width: 100%;
    }

    .logoTextContainer {
        display: flex;
    }

    .BreakLine {
        margin: 0;
    }
    
}