footer {
    color: #fff;
    background-color: #0E204C;
    display: flex;
    flex-direction: column;
}

footer .firstContainer {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.MiddleContainer {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 20px;
    gap: 50px;
}

.firstList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
}

.SecondList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 2rem;
}

.lastContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px 40px 20px;
}

.LastList {
    display: flex;
    gap: 3rem;
}

.AllIcons {
    display: flex;
    gap: 8px;
}

.logo {
    padding: 0.5rem 0.6rem;
    background-color: rgb(38,54,94);
    border-radius: 8px;
}

.BreakLine {
    margin: 0 -15px;
    border: 2px solid rgb(38,54,94);
}

.firstContainer  span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.LogoContainer h3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.firstList p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
    color: rgba(255, 255, 255, 1);
}

.SecondList li span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.lastContainer span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}

.lastContainer p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
    color: rgba(255, 255, 255, 1);
}

.LastList span {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.07px;
}