.LastSection{
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.LastSection .card {
    gap: 15.21px;
}

.LastSectionFirstChild {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 29.17px;
}

.LastSection .card h3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.07px;
}

.LastSection .card p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.34px;
    color: rgba(61, 65, 96, 0.6);
}

@media (min-width:576px) and (max-width:768px) {
    .LastSection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .LastSectionFirstChild {
        grid-column: span 3;
    }

    .lastImage {
        width: 209.33px;
    }
}

@media screen and (min-width:768px) {
    .LastSection{
        padding: 3rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .LastSectionFirstChild {
        grid-column: span 3;
    }
}