.SecondMiddleContainer {
    color: rgba(255, 255, 255, 1);
    background-color: #0E204C;
    padding: 40px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    position: relative;
}

.onlyCard {
    padding-bottom: 20px;
}

.TitleContainer {
    position: absolute;
    bottom: 1rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.TitleContainer p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 21.73px;
    line-height: 26.51px;
}

.SecondreadButton {
    display: flex;
    gap: 6.73px;
    font-weight: 400;
    font-size: 10.72px;
    line-height: 14.6px;
}


@media (min-width:576px) and (max-width:768px) {
    .SecondMiddleContainer {
        padding: 40px 20px 40px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .firstCard {
        grid-column: span 3;
        width: 648px;
    }

    .projectImage {
        width: 100%;
    }

    .MixSecondcard {
        flex-direction: row;
    }

}


@media screen and (min-width:769px) {
    .SecondMiddleContainer {
        color: #fff;
        background-color: #0E204C;
        padding: 3rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        gap: 3rem;
    }

    .firstCard {
        grid-column: span 3;
    }

    .projectImage {

        width: 100%;
        max-height: 566px;
    }

}