.section-ten{
  align-items: center;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 8%;
  }
  .social-img{
    margin: 4%;
  }
  .ten-sub{
    width: 341px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap:20px
  }