.section-three{
  background-color: #0E204C;
  padding: 10px;
  height: 339px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card1{
  background-color: #FFFF;
   width:80%; 
   height: 259;
  padding: 20px;
}
.para3{
  margin-top: 4%;
  line-height: 21px;
}