@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap");

section {
  background: #0e204c;
  padding: 20px;
}

.finetech .augmented_reality .artificial_intelligence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div img {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}

h4,
p {
  margin: 10px 12px;
  text-align: left;
}

@media screen and (min-width: 480px) {
  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
}

@media screen and (min-width: 769px) {
  section {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
